<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rift.id</title>
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/fixed.css">
</head>
<body>
    <div class="flex-utama semi-main">
        <div class="container1">
            <div class="bungkus1">
                <div class="header-content">
                    <div class="img-wrapper">
                        <img alt="Kategori Populer" fetchpriority="high" width="44" height="44" decoding="async" data-nimg="1" class=" " src="https://files.itemku.com/icon/product-icon/homepage-revamp/kategori-populer.svg" style="color: transparent"/>
                    </div>
                    <div class="text-wrapper">
                        <p>Kategori Populer</p>
                    </div>
                </div>
            </div>
            <div class="bungkus2">
                <div class="conten terpilih">
                    <div class="flex">
                        <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/hwrs5aeqdh8axc6rqurhrl.svg" alt=""></div>
                        <div class="posisi-judul"><p>Top Up Game</p></div>
                    </div>
                </div>
                <div class="conten">
                    <div class="flex">
                        <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                        <div class="posisi-judul"><p>Akun</p></div>
                    </div>
                </div>
                <div class="conten">
                    <div class="flex">
                        <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                        <div class="posisi-judul"><p>Voucher & Game Key</p></div>
                    </div>
                </div>
                <div class="conten">
                    <div class="flex">
                        <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                        <div class="posisi-judul"><p>Koin Game</p></div>
                    </div>
                </div>
                <div class="conten">
                    <div class="flex">
                        <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                        <div class="posisi-judul"><p>Item</p></div>
                    </div>
                </div>
            </div>
            <div class="bungkus3">
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                            </div> 
                            <p>Higgs Domino</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fg6dndh8v3aqz9s2ezori1.png&amp;w=375&amp;q=75" alt="">
                            </div> 
                            <p>Mobile Legend</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fqlb49pvpfwaxhi4im32tu.jpg&amp;w=375&amp;q=75" alt="">
                            </div> 
                            <p>Garena Free Fire</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024124%2Fr3pjzsht0ml980bat5nbni.png&amp;w=1033&amp;q=75" alt="">
                            </div> 
                            <p>Genshin Impact</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fy4jqgkdbtbd3zfokbvtknb.jpg&amp;w=1033&amp;q=75" alt="">
                            </div> 
                            <p>PUBG Mobile Indonesia</p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="isi-top-up">
                        <div class="box">
                            <div class="unt-gmbr"> 
                                <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fj2bqga0lpr8cax0641gscr.jpg&amp;w=1033&amp;q=75" alt="">
                            </div> 
                            <p>Growtopia</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="container2">
            <div class="bungkus1">
                <div class="header-content">
                    <div class="img-wrapper">
                        <img alt="" src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg">
                    </div>
                    <div class="text-wrapper">
                        <p>Toko Populer</p>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
                <div class="flex-item">
                    <div class="img-wrapper-1">
                        <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/toko-populer.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="wrapper-content">
                    <div class="wadah">
                       <div class="isi">
                        <div class="nama">
                            <p>bejo</p>
                        </div>
                        <div class="rating">
                            <p>4.58</p>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <p>test3</p>
        </div>


    </div>
</body>
</html>