<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/mainone.css">
    <link rel="stylesheet" href="../assets/maintwo.css">
</head>
<body>
<main>
    <!-- header bagian kak tedi -->
    <div class="block font-itemkuV2">
        <div></div>
        <div class="fomt-itemkuV2 flex space-x-3 py-3 px-4 item-center sticky top-o z-30 backdrop-blur-[2px]">

        </div>
        <!-- kebawah bagian Nahl dan Arif -->
        <div class="flex flex-col mt-6">
            <!-- bagian Nahl -->
            <div>
                <section class="font-itemkuV2">
                    <div class="flex item-center">
                        <div class="bg-cyan-blue-800">
                            <div class="p-1 bg-cyan-blue-800">
                                <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/beli-cepat.svg" alt="">
                            </div>
                        </div>
                        <h2 class="ds-text-xl ds-leading-6 ds-font-bold text-white bg-cyan-blue-800 py-1 px-4">
                            Beli Cepat
                        </h2>
                        <!-- ada svg berlapis -->
                    </div>
                    <div class="w-full bg-cyan-blue-800">
                        <div class="ds-relative">
                            <div class="ds-w-full ds-select-one scroll-hide ds-h-full ds-overflow-x-auto ds-overflow-y-hidden scrolling-touch">
                                <div class="ds-w-full ds-h-full ds-flex ds-flex-row">
                                    <div class="ds-w-full ds-flex ds-flex-row space-x-2 px-4 py-3">
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Special For You
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Mobile Game
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                PC Game
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Streaming App
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Kode Voucher
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Pulsa & Utilitas
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Console Game
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 bg-cyan-blue-800 pb-4">
        
                    </div>
                </section>
            </div>
            <div>
                <!-- tempat slider -->
                <p>tempat slider</p>
            </div>
            <div>
                <!-- ada yang baru nih -->
                <p>ada yang baru nih</p>
            </div>
            <!-- bagian Arif -->
            <div class="kategori">
                <!-- kategori populer -->
                <p>kategori populer</p>
            </div>
            <div>
                <!-- toko populer -->
                <p>toko populer</p>
            </div>
            <div>
                <!-- Explore itemku -->
                <p>Explore itemku</p>
            </div>
        </div>
        <!-- footer bagian kak tedi -->
        <div class="wrapper-boot">
            <!-- <img src="https://d1x91p7vw3vuq8.cloudfront.net/itemku-upload/202338/iqvxk55g3qq0vkddt3n8s_thumbnail.jpg" alt="mbuh"> -->
        </div>
    </div>
</main>
</body>
</html>