<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/mainone.css">
    <link rel="stylesheet" href="../assets/maintwo.css">
</head>
<body>
<main>
    <!-- header bagian kak tedi -->
    <div class="block font-itemkuV2">
        <div></div>
        <div class="fomt-itemkuV2 flex space-x-3 py-3 px-4 item-center sticky top-o z-30 backdrop-blur-[2px]">

        </div>
        <!-- kebawah bagian Nahl dan Arif -->
        <div class="flex flex-col mt-6">
            <!-- bagian Nahl -->
            <div>
                <section class="font-itemkuV2">
                    <div class="flex item-center">
                        <div class="bg-cyan-blue-800">
                            <div class="p-1 bg-cyan-blue-800">
                                <img src="https://files.itemku.com/icon/product-icon/homepage-revamp/beli-cepat.svg" alt="">
                            </div>
                        </div>
                        <h2 class="ds-text-xl ds-leading-6 ds-font-bold text-white bg-cyan-blue-800 py-1 px-4">
                            Beli Cepat
                        </h2>
                        <!-- ada svg berlapis -->
                    </div>
                    <div class="w-full bg-cyan-blue-800">
                        <div class="ds-relative">
                            <div class="ds-w-full ds-select-one scroll-hide ds-h-full ds-overflow-x-auto ds-overflow-y-hidden scrolling-touch">
                                <div class="ds-w-full ds-h-full ds-flex ds-flex-row">
                                    <div class="ds-w-full ds-flex ds-flex-row space-x-2 px-4 py-3">
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Special For You
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Mobile Game
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                PC Game
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Streaming App
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Kode Voucher
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Pulsa & Utilitas
                                            </h3>
                                        </div>
                                        <div class="tab bg-cyan-blue-800 flex-none box-border flex flex-row space-x-2 justify-center items-center crusor-pointer select-none last:pr-4 undefiend">
                                            <h3 class="ds-text-lg ds-leading-5 dsfont-normal text-center text-base overflow-hidden rounded border py-2 px-3 border-cyan-vlue-300 bg-[#79acec]/[0.24] border-r2 text-white font-bold">
                                                Console Game
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-4 bg-cyan-blue-800 pb-4">
        
                    </div>
                </section>
            </div>
            <div>
                <!-- tempat slider -->
                <p>tempat slider</p>
            </div>
            <div>
                <!-- ada yang baru nih -->
                <p>ada yang baru nih</p>
            </div>
            <!-- bagian Arif -->
            <div class="Zero1">
                <!-- kategori populer -->
                <div class="mt-3 font-itemkuV2">
                    <div class="flex flex-colum">
                        <div class="mt-2">
                            <div class="absolute">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 0.5H31.5V23.7929L23.7929 31.5H0.5V0.5Z" fill="#EAF2FC" fill-opacity="0.24"></path>
                                    <path d="M0.5 0.5H31.5V23.7929L23.7929 31.5H0.5V0.5Z" stroke="#307FE2"></path>
                                    <path d="M0.5 0.5H31.5V23.7929L23.7929 31.5H0.5V0.5Z" stroke="white" stroke-opacity="0.75"></path>
                                </svg>
                            </div>
                            <div style="clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 86% 100%, 0% 100%, 0% 0%);">
                                <div class="w-8 h-8 flex items-center justify-center bg-cyan-blue-100/24">
                                    <div class="drop-shadow-md">
                                        <img alt="Kategori Populer" fetchpriority="high" width="24" height="24" decoding="async" data-nimg="1" class=" " src="https://files.itemku.com/icon/product-icon/homepage-revamp/kategori-populer.svg" style="color: transparent;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 ml-1 w-full">
                            <div class="my-1">
                                <div class="flex justify-between">
                                    <div class="flex space-x-1">
                                        <p class="ds-text-xl ds-leading-6 ds-font-bold undefined">Kategori Populer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full relative border-b border-cyan-blue-200 ">
                                <div>
                                    <svg width="48" height="4" viewBox="0 0 48 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M38.5 4L36.1904 0H0V4H38.5Z" fill="#307FE2"></path>
                                    <path d="M38.5 4L36.1904 0H0V4H38.5Z" fill="white" fill-opacity="0.75"></path>
                                    <path d="M39.5 0L41.8096 4H47.5L45.1904 0H39.5Z" fill="#307FE2"></path><path d="M39.5 0L41.8096 4H47.5L45.1904 0H39.5Z" fill="white" fill-opacity="0.75"></path>
                                    </svg>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="ds-relative"></div>
                    <div class="grid gap-x-2 gap-y-3 justify-items-center grid-cols-4 sm:grid-cols-6 pb-4 mx-4"></div>
                </div>
                <p>kategori populer</p>
            </div>
            <div class="zero2">
                <!-- toko populer -->
                <p>toko populer</p>
            </div>
            <div class="zero3">
                <!-- Explore itemku -->
                <p>Explore itemku</p>
            </div>
        </div>
        <!-- footer bagian kak tedi -->
        <div class="wrapper-boot">
            <!-- <img src="https://d1x91p7vw3vuq8.cloudfront.net/itemku-upload/202338/iqvxk55g3qq0vkddt3n8s_thumbnail.jpg" alt="mbuh"> -->
        </div>
    </div>
</main>
</body>
<script>
    alert('helloworld');
</script>
</html>