<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/pliss.css">
    <link rel="stylesheet" href="../assets/main.css">
    <!-- <link rel="stylesheet" href="../assets/gpt-css.css"> -->
</head>
<body>
    <div class="flex semi-main">
        <div class="container">
            <div class="bungkus1">
                <div class="header-content">
                    <div class="img-wrapper">
                        <img alt="Kategori Populer" fetchpriority="high" width="44" height="44" decoding="async" data-nimg="1" class=" " src="https://files.itemku.com/icon/product-icon/homepage-revamp/kategori-populer.svg" style="color: transparent"/>
                    </div>
                    <div class="text-wrapper">
                        <p>Kategori Populer</p>
                    </div>
                </div>
            </div>
            <div class="bungkus2">
                <div class="conten">
                    <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/hwrs5aeqdh8axc6rqurhrl.svg" alt=""></div>
                    <div class="posisi-judul"><p>Top Up Game</p></div>
                </div>
                <div class="conten">
                    <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                    <div class="posisi-judul"><p>Akun</p></div>
                </div>
                <div class="conten">
                    <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                    <div class="posisi-judul"><p>Voucher & Game Key</p></div>
                </div>
                <div class="conten">
                    <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                    <div class="posisi-judul"><p>Koin Game</p></div>
                </div>
                <div class="conten">
                    <div class="posisi-img"><img src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" alt=""></div>
                    <div class="posisi-judul"><p>Item</p></div>
                </div>
            </div>
             <div class="bungkus3">
               <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr"> 
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div> 
                    </div>
                </div>
               <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div>
                    </div>
                </div>
                <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div>
                    </div>
                </div>
                <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div>
                    </div>
                </div>
                <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div>
                    </div>
                </div>
                <div class="isi-top-up">
                    <div class="box">
                        <div class="unt-gmbr">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq.jpg&amp;w=1033&amp;q=75" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>   
</body>
</html>