.zero1{
    background-color: aqua;
    width: auto;
    height: 318px;
}
.zero2{
    background-color: black;
    width: auto;
    height: 318px;
}
.zero3{
    background-color: bisque;
    width: auto;
    height: 318px;
}