<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/mainone.css">
    <link rel="stylesheet" href="../assets/maintwo.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main>
    <!-- header bagian kak tedi -->
    <div class="block font-itemkuV2">
        <div></div>
        <div class="fomt-itemkuV2 flex space-x-3 py-3 px-4 item-center sticky top-o z-30 backdrop-blur-[2px]">

        </div>
        <!-- kebawah bagian Nahl dan Arif -->
        <div class="flex flex-col mt-6"> <!-- slider utama posidi tengah-->
            <!-- bagian Nahl -->
           
            <!-- bagian Arif -->
            <div class="wrapper mx-auto mt-8 mt-3 font-itemkuV2">
                <!-- kategori populer -->
                <div class="flex flex-column">
                    <div class="mt-2">
                         <div class="poligon">
                            <div class="w-8 h-8 flex items-center justify-center bg-cyan-blue-100/24">
                                <div class="drop-shadow-md">
                                    <img alt="Kategori Populer" fetchpriority="high" width="24" height="24" decoding="async" data-nimg="1" class=" " src="https://files.itemku.com/icon/product-icon/homepage-revamp/kategori-populer.svg" style="color: transparent"/>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="mt-1 ml-3 w-full">
                        <div class="my-1">
                          <div class="flex justify-between">
                            <div class="flex space-x-1">
                              <p class="ds-text-xl ds-leading-6 ds-font-bold undefined">
                                Kategori Populer
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="w-full relative border-b border-cyan-blue-200">
                          <div>
                            <svg width="48" height="4" viewBox="0 0 48 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                          </div>
                        </div>
                      </div>
                </div>
                <p>Kategori Populer</p>
            <div class="zero">
                <!-- toko populer -->
                <p>toko populer</p>
            </div>
            <div class="zero">
                <!-- Explore itemku -->
                <p>Explore itemku</p>
            </div>
        </div>
        <!-- footer bagian kak tedi -->
        <div class="wrapper-boot">
            <!-- <img src="https://d1x91p7vw3vuq8.cloudfront.net/itemku-upload/202338/iqvxk55g3qq0vkddt3n8s_thumbnail.jpg" alt="mbuh"> -->
        </div>
    </div>
</main>
</body>
</html>