<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="judul">
                <p class="salam">yuuks top up terus biar charctermu jadi lebih baik</p>
            </div>
        </div>
        <div class="main">
            <form action="">
                <div class="form-control">
                    <label for="">username</label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label for="">email</label>
                    <input type="email">
                </div>
                <div class="form-contr0l">
                    <label for="">password</label>
                    <input type="password">
                </div>
            </form>
        </div>
    </div>
</body>
</html>