<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <section class="container-belicepat">
        <div class="item1-belicepat">
            <div class="box-item1-1">
                <div class="svg-img-belicepat">
                    <svg class="svg-background" xmlns="http://www.w3.org/2000/svg" width="64" height="58" viewBox="0 0 64 64 " fill="none">
                        <g filter="url(#filter0_b_9474_137668)">
                            <mask id="path-1-inside-1_9474_137668" fill="white">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M64 64H0V0H48L64 16V64Z"></path>
                            </mask>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M64 64H0V0H48L64 16V64Z" fill="#EAF2FC" fill-opacity="0.48"></path>
                            <path d="M0 64V65H-1V64H0ZM64 64H65V65H64V64ZM0 0H-1V-1H0V0ZM48 0V-1H48.4142L48.7071 -0.707108L48 0ZM64 16L64.7071 15.2929L65 15.5858V16H64ZM0 63H64V65H0V63ZM1 0V64H-1V0H1ZM48 1H0V-1H48V1ZM48.7071 -0.707108L64.7071 15.2929L63.2929 16.7071L47.2929 0.707108L48.7071 -0.707108ZM63 64V16H65V64H63Z" fill="#307FE2" mask="url(#path-1-inside-1_9474_137668)"></path>
                            <path d="M0 64V65H-1V64H0ZM64 64H65V65H64V64ZM0 0H-1V-1H0V0ZM48 0V-1H48.4142L48.7071 -0.707108L48 0ZM64 16L64.7071 15.2929L65 15.5858V16H64ZM0 63H64V65H0V63ZM1 0V64H-1V0H1ZM48 1H0V-1H48V1ZM48.7071 -0.707108L64.7071 15.2929L63.2929 16.7071L47.2929 0.707108L48.7071 -0.707108ZM63 64V16H65V64H63Z" fill="white" fill-opacity="0.75" mask="url(#path-1-inside-1_9474_137668)"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="box-item1-2">
                <p class="belicepat">Beli Cepat</p>
            </div>
        </div>  
        <div class="item2-belicepat">
            <div class="container-item2">
                    <div id="" class="btn-item2">
                        <a href="#">
                            <span>Special For You</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Mobile Game</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>PC Game</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Streaming App</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Kode Voucher</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Pulsa Utilitas</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Aplikasi</span>
                        </a>
                    </div>
                    <div class="btn-item2">
                        <a href="#">
                            <span>Console Game</span>
                        </a>
                    </div>
            </div>
        </div>
        <div class="item3-belicepat">
            <div class="image-item3">   
                <a class="link" href="https://itemku.com/belanja-cepat/higgs-domino?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                    <div class="img-Higgsdomino">
                        <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231129%2F4lv01exy4ft5r6v94j14uq_thumbnail.jpg&w=1033&q=75" alt="HiggsDomino">
                    </div>
                    <div class="image-para-item3">
                        <div class="paragh-img-item3">        
                            <p>Higgs Domino</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="image-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/belanja-cepat/mobile-legends?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fg6dndh8v3aqz9s2ezori1_thumbnail.png&w=1033&q=75" alt="Mobile Legend">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">          
                                <p>Mobile Legends</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="image-item3">
                <div class="image-item3">  
                    <a class="link" href="https://itemku.com/belanja-cepat/garena-free-fire?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fqlb49pvpfwaxhi4im32tu_thumbnail.jpg&w=1033&q=75" alt=" Garena Free Fire">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">
                                <p>Garena Free Fire</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="image-item3">
                <div class="image-item3">  
                    <a class="link" href="https://itemku.com/belanja-cepat/pubg-mobile?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fy4jqgkdbtbd3zfokbvtknb_thumbnail.jpg&w=1033&q=75" alt="PUBG Mobile">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">         
                                <p>PUBG Mobile</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="image-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/belanja-cepat/steam?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231130%2Fqqvqxmjx1teu85nerqohnr_thumbnail.png&w=1033&q=75" alt="Steam">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">   
                                <p>Steam</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="image-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/belanja-cepat/growtopia?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2Fj2bqga0lpr8cax0641gscr_thumbnail.jpg&w=1033&q=75" alt="Growtopia">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Growtopia</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="image-item3">   
                <a class="link" href="https://itemku.com/belanja-cepat/growtopia?from=qb_homepage&funnel_type=quick-buy-homepage&category=Special%20For%20You">
                    <div class="img-Higgsdomino">
                        <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F20231116%2F0o47cgd62lvcyj6242jugg_thumbnail.jpg&w=1033&q=75" alt="Roblox">
                    </div>
                    <div class="image-para-item3">
                        <div class="paragh-img-item3">      
                            <p>Roblox</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="iklan-slider">
        <div class="iklan-1-container"> 
            <!-- caraousel src = flowbite -->
            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden  md:h-96">
                    <!-- Item 1 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <a href="https://itemku.com/roblox-universe?from=homepagebanner">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024315%2Fnna9js2516jltlokh3xb.png&w=414&q=75" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Roblox Universe">
                        </a>
                    </div>
                    <!-- Item 2 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <a href="https://itemku.com/promo/cashback-Gopay-ramadan-lebaran-2024?from=homepagebanner">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024319%2Fnm4749n0ts3jaur2a4eif.png&w=414&q=75" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Gopay Itemku">
                        </a>
                    </div>
                    <!-- Item 3 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <a href="https://itemku.com/p/kupon/higgs-domino-hadir-lagi-dan-diskon-90-di-itemku?from=homepagebanner">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024313%2Fplvd55qbhu10wa9koz4kw.png&w=414&q=75" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="itemku kupon">
                        </a>
                        
                    </div>
                    <!-- Item 4 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <a href="https://hellocafe.onelink.me/CR4h/lapakgaming?from=homepagebanner">
                        <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024315%2Frulayqihqwcwyhwu98fyat.png&w=390&q=75" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Lapak Gaming">
                        </a>
                    </div>
                    <!-- Item 5 -->
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                        <a href="https://itemku.com/promo/kredivo-bonus-50rb-maret-2024?from=homepagebanner">
                        <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024315%2Fdqxpr717g8qfloyembi6ri.png&w=414&q=75" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="kredivo itemku">
                        </a>
                    </div>
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

        </div>
        <div class="iklan-2-container">
            <div class="iklan-2-item1">
                <a draggable="false" href="https://itemku.com/promo/ngabuburit-seru-100robux-wdp-cuma-10ribu?from=homepagebanner">
                    <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024315%2F9xbkfazmmrkl14g9c24jo8.png&w=1033&q=75" alt="BANNER_PAGE_MOBILE">
                </a>
            </div>
            <div class="iklan-2-item2">
                <a draggable="false" href="https://itemku.com/promo/promo-mlbb-aspirant-recharge?from=homepagebanner">
                    <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fplaceholder%2F2024322%2Frvh19bn4fdj48jb9eudkt.png&w=1033&q=75" alt="BANNER_PAGE_MOBILE">
                </a>
            </div>   
        </div>
    </section>
    <section class="container-adayangbarunih">
        <div class="item1-adayangbarunih">
            <div class="box-item1-1">
                <div class="svg-img-belicepat">
                    <svg class="svg-background-adayangbarunih" xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 64 64 " fill="none">
                        <g filter="url(#filter0_b_947476_136)">
                            <mask id="path-1-inside-1_9474_1387668" fill="white">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M64 64H0V0H48L64 16V64Z"></path>
                            </mask>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M64 64H0V0H48L64 16V64Z" fill="#EAF2FC" fill-opacity="0.48"></path>
                            <path d="M0 64V65H-1V64H0ZM64 64H65V65H64V64ZM0 0H-1V-1H0V0ZM48 0V-1H48.4142L48.7071 -0.707108L48 0ZM64 16L64.7071 15.2929L65 15.5858V16H64ZM0 63H64V65H0V63ZM1 0V64H-1V0H1ZM48 1H0V-1H48V1ZM48.7071 -0.707108L64.7071 15.2929L63.2929 16.7071L47.2929 0.707108L48.7071 -0.707108ZM63 64V16H65V64H63Z" fill="#307FE2" mask="url(#path-1-inside-1_9474_137668)"></path>
                            <path d="M0 64V65H-1V64H0ZM64 64H65V65H64V64ZM0 0H-1V-1H0V0ZM48 0V-1H48.4142L48.7071 -0.707108L48 0ZM64 16L64.7071 15.2929L65 15.5858V16H64ZM0 63H64V65H0V63ZM1 0V64H-1V0H1ZM48 1H0V-1H48V1ZM48.7071 -0.707108L64.7071 15.2929L63.2929 16.7071L47.2929 0.707108L48.7071 -0.707108ZM63 64V16H65V64H63Z" fill="white" fill-opacity="0.75" mask="url(#path-1-inside-1_9474_137668)"></path>
                        </g>
                        <!-- <img alt="Beli Cepat" fetchpriority="high" width="48" height="48" decoding="async" data-nimg="1" class=" " src="https://files.itemku.com/icon/product-icon/homepage-revamp/beli-cepat.svg" style="color: transparent;"> -->
                    </svg>
                </div>
            </div>
            <div class="box-item1-2-adayangbarunih">
                <p class="adayangbarunih">Ada yang baru nih!</p>
            </div>
        </div>  
        
        <div class="item3-adayangbarunih">
            <div class="main-container-item3">  
                <div class="image-item3">
                    <a class="link" href="https://itemku.com/g/captain-tsubasa-ace?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024321%2Frd05fp185tb91sbhs8vlvk.jpg&w=1033&q=75" alt="Captain Tsubasa:Ace">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Captain Tsubasa:Ace</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/g/bid-battles-roblox?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024321%2Fggrp97wuk4d1o7p6gdpand.png&w=1033&q=75" alt="Bid Battles!">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">       
                                <p>Bid Battles!</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/g/pixel-gun-3d?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024321%2Fevp0egsoe0ryoc4x4yfyv.jpg&w=1033&q=75" alt="Pixel Gun 3D">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">  
                                <p>Pixel Gun 3D</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">
                <div class="image-item3">  
                    <a class="link" href="https://itemku.com/g/anime-fighters-simulator-roblox?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024321%2Fxoso7g36qjf2dvv90xk7j.jpg&w=1033&q=75" alt="Anime Fighters Simulators">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Anime Fighters Simulators</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">
                <div class="image-item3">   
                    <a class="link" href="https://itemku.com/g/outerplane?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024321%2Fgfv80fiac9qhpeq9ctlrik.jpg&w=1033&q=75" alt="Outerplane">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">    
                                <p>Outerplane</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">
                <div class="image-item3">  
                    <a class="link" href="https://itemku.com/g/brown-dust-2?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024320%2Feaxi2u9uugjfxzh7vmq2v.jpg&w=1033&q=75" alt="Brown Dust 2">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">         
                                <p>Brown Dust 2</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3">  
                <div class="image-item3">
                    <a class="link" href="https://itemku.com/g/google-play?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024319%2Fczr8ahseju2xcoiv80ku.jpg&w=1033&q=75" alt="Google Play Store">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">     
                                <p>google playstore</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3"> 
                <div class="image-item3">
                    <a class="link" href="https://itemku.com/g/arm-wrestle-simulator-roblox?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024318%2Ffn0qukph0hhv6uq8m1bo89.jpg&w=1033&q=75" alt="Arm Wrestle Simulator">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Arm Wrestle Simulator</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main-container-item3"> 
                <div class="image-item3">
                    <a class="link" href="https://itemku.com/g/anime-last-stand-roblox?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024318%2Fwancuojfvqhetm9p6zzob.png&w=1033&q=75" alt="Anime Last Stand">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Anime Last Stand</p>
                            </div>
                        </div>
                    </a>
                </div> 
            </div>
            <div class="main-container-item3"> 
                <div class="image-item3">
                    <a class="link" href="https://itemku.com/g/shindo-life-roblox?from=KategoriTerbaruS1">
                        <div class="img-Higgsdomino">
                            <img src="https://imgop.itemku.com/?url=https%3A%2F%2Fd1x91p7vw3vuq8.cloudfront.net%2Fgame%2F2024318%2F98sd91evkuvx9jy0l7uk3d.png&w=1033&q=75" alt="Shindo Life">
                        </div>
                        <div class="image-para-item3">
                            <div class="paragh-img-item3">        
                                <p>Shindo Life</p>
                            </div>
                        </div>
                    </a>
                </div> 
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>