<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/simpan.css">
</head>
<body>
    <div class="zero">
        <div class="font-itemkuV2 mt-3">
            <div class="flex justify-between items-end w-full">
                <div class="w-full">
                    <div class="flex space-x-4 items-end">
                        <div class="flex w-16 h-16 items-center justify-center">
                            <div class="absolute">
                                <div class="absolute">
                                    <img alt="Kategori Populer" fetchpriority="high" width="48" height="48" decoding="async" data-nimg="1" class="" src="https://files.itemku.com/icon/product-icon/homepage-revamp/kategori-populer.svg" style="color: transparent;">
                                </div>
                            </div>
                            <div class="relative">
                                <p class="ds-text-[21px] ds-leading-8 ds-font-bold text-4xl cursor-default pb-1">Kategori Populer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex mt-6">
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t bg-cyan-blue-100/75 border-t border-r border-l border-cyan-blue-200">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Top Up Game" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/hwrs5aeqdh8axc6rqurhrl.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-bold undefined">Top Up Game</p>
                </div>
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t border-b border-cyan-blue-200 hover:bg-cyan-blue-100/50">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Akun" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/dg5frlof3qo30u8st1gcs.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-normal undefined">Akun</p>
                </div>
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t border-b border-cyan-blue-200 hover:bg-cyan-blue-100/50">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Voucher &amp; Game Key" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/gwoqgq42u4rwxtprhe8oo.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-normal undefined">Voucher &amp; Game Key</p>
                </div>
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t border-b border-cyan-blue-200 hover:bg-cyan-blue-100/50">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Koin Game" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/6guieyhqvoi4zc0v9r84sc.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-normal undefined">Koin Game</p>
                </div>
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t border-b border-cyan-blue-200 hover:bg-cyan-blue-100/50">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Item" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/3ynhbwetlf9qaguvlyoapw.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-normal undefined">Item</p>
                </div>
                <div class="flex px-5 py-3 items-center space-x-2 cursor-pointer rounded-t border-b border-cyan-blue-200 hover:bg-cyan-blue-100/50">
                    <div class="w-8 h-8 overflow-clip">
                        <img alt="Merchandise" loading="lazy" width="32" height="32" decoding="async" data-nimg="1" class="" src="https://d1x91p7vw3vuq8.cloudfront.net/game_category/202396/wyqyxig7qtx4vcbod1l2vq.svg" style="color: transparent;">
                    </div>
                    <p class="ds-text-xl ds-leading-6 ds-font-normal undefined">Merchandise</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
